[submodule "main/lib/glm"]
	path = main/lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "components/esp32-camera"]
	path = components/esp32-camera
	url = https://github.com/espressif/esp32-camera
